
body
  background: lightgrey
  cursor: none

.blok
  margin-bottom: 3rem
.icon
  img
    width: 32px
    height: 32px

.button
  padding: .5rem

.view
  &-Page
    padding: 1em

    & > div, & > a
      margin-bottom: 1em

  .articles
    & > a
      margin-bottom: 1em

